@media all and (orientation: landscape) {
  .App {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "header header header header header"
      "tabRow tabRow tabRow tabRow ."
      "content content content content check_box"
      "content content content content check_box"
      "content content content content check_box"
      "content content content content ."
      "footer footer footer footer footer";
    padding: 0;
    font-family: sans-serif;
    width: 100%;
  }
}

@media all and (orientation: portrait) {
  .App {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "header header header header"
      "tabRow tabRow tabRow tabRow"
      "content content content content"
      "content content content content"
      "check_box check_box check_box check_box"
      "footer footer footer footer";
    padding: 0;
    font-family: sans-serif;
    width: 100%;
  }
}

.header {
  grid-area: header;
  display: inline;
  margin: 0;
  text-align: center;
  background-color: #b2b4b5;
}

.content {
  grid-area: content;
  display: inline;
  text-align: center;
}

.exhibition {
  width: 100%;
  height: 100%;
}

.imgBox {
  height: 50%;
  width: 50%;
  margin: auto auto auto auto;
}

.footer {
  grid-area: footer;
  text-align: center;
}

.check_box {
  grid-area: check_box;
  background-color: #ff33ff;
  text-align: center;
}

.button {
  grid-area: tabRow;
}

.labels {
  width: 300px;
  height: 30px;
}

.button:hover {
  background-color: #f4d03f;
}

.button:active {
  background-color: #f4d03f;
  box-shadow: 0px 5px #666;
  transform: translateY(4px);
}
