@media screen and (max-width: 420px) {
  .App {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header header header header"
      "tabs tabs tabs tabs"
      "cb cb cb cb"
      "media media media media";
    /*footer*/
  }

  .tabRow {
    display: grid;
    grid-template-areas: "tab1 tab2 tab3 tab4";
  }

  .check_box  {
    display: grid;
    grid-template-areas: "groupimg grouptxt groupsound";
  }

  .media {
    border: 1px solid red;
  }

  .imgBox {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  svg {
    width: 200px;
    height: 400px;
    margin-left: 20px;
    margin-right: auto;
  }
}

.groupimg {
  grid-area: groupimg;
}

.grouptxt {
  grid-area: grouptxt;
}

.groupsound  {
  grid-area: gridsound;
}

.check_box {
  grid-area: cb;
  border: 1px solid black;
  margin-bottom: 50px;
}

.tabRow {
  grid-area: tabs;
}

.header {
  grid-area: header;
  background-color: #ffffff;
  text-align: center;
  width: 100%;
}

/* all tabs */
div.tabRow > div {
  border: 1px solid black;
  margin: 1em;
  text-align: center;
}

.tab1 {
  grid-area: tab1;
}

.tab2 {
  grid-area: tab2;
}

.tab3 {
  grid-area: tab3;
}

.tab4 {
  grid-area: tab4;
}
