body {
  margin: 0;
  background-color: azure;

}

#root {
  display: grid;
  grid-template-columns: auto 80% auto;
  grid-template-rows: auto auto auto;
}

.header {
  background-color: lightgrey;
  height:100px;
  width:100%;
  text-align: center;

  grid-column: 1/ span 3;
  grid-row: 1/2;
}

.header_text {
  font-weight: bold;
  font-family: "Arial Hebrew Scholar";
  text-align: center;
}


/* CONTENT STYLING */

.combinations {

}

.display_area {
  grid-row: 2/3;
  grid-column: 2/3;
  min-height: 800px;
  padding: 50px;
}

.checkboxes {
  text-align: center;
  text-size: 40px;

}

.radiobtns {
  height: auto;
  width: 120px;
}

.btnItem {
  width: 100px;
  height: 30px;
}