/* Mobile first */
#root {
  height: 100%;
}

.App {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 10% 60% 20%;
  grid-template-areas:
    "header header header header"
    "tabs tabs tabs tabs"
    "media media media media"
    "cb cb cb cb";
  /*footer*/
}

#audioControls {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#audioControls > button {
  border: 1px solid black;
  margin: 2px;
  font-size: 0.8em;
  padding: 0.5em;
}

.tabRow {
  display: grid;
  grid-template-areas: "tab1 tab2 tab3 tab4";

  margin-bottom: 20px;
}

.check_box {
  grid-template-areas: "groupimg grouptxt groupsound";
}

.media {
  grid-area: media;
  height: 100%;
}

.exhibition {
  height: 80%;
}

.imgBox {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 70%; /*Slett denne om quote skal følge bilde i høyde*/
}

svg {
  max-width: 200px;
  max-height: 150px;
  margin-left: 20px; /* center image is missing */
  margin-right: auto;
}

.quotebox {
  border-top: 1px solid black;
  text-align: center;
}

.check_box > div > p {
  text-align: center;
}

.groupimg {
  grid-area: groupimg;
}

.grouptxt {
  grid-area: grouptxt;
}

.groupsound  {
  grid-area: groupsound;
}

.check_box {
  grid-area: cb;
  background-color: #9e9e9e;
  display: grid;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.check_box > div > p {
  font-size: 1.2em;
  margin: 5px;
  border-bottom: 0.3px solid black;
}

.check_box > div > label {
  display: block;
  text-align: right;
  font-size: 1.2em;
  margin-bottom: 0.3em;
  cursor: pointer;
}

.tabRow {
  grid-area: tabs;
}

.header {
  grid-area: header;
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  margin-top: -1em;
  margin-bottom: -1em;
}
/* all tabs */

div.tabRow > div {
  background-color: #9e9e9e;
  margin-top: 0.5em;
  border: 0.2px solid #414141;
  text-align: center;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}

div.tabRow > div:active {
  background-color: #1a1a1a;
}

div.tabRow > div:hover {
  cursor: pointer;
}

div.tabRow > div.active {
  background-color: white;
}

/*TODO: Add an active feat. */

.tab1 {
  grid-area: tab1;
}

.tab2 {
  grid-area: tab2;
}

.tab3 {
  grid-area: tab3;
}

.tab4 {
  grid-area: tab4;
}

label > input {
  cursor: pointer;
}

input[type="radio"] {
  background: black;
}

/*TODO: better here*/
@media screen and (orientation: landscape) {
  .App {
    grid-template-areas:
      "cb header header"
      "cb media tabs"
      "cb media tabs"
      "cb media tabs";

    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 15% 30% 30% 30%;
  }

  .check_box {
    position: unset;
    width: 120px;
    grid-template-areas:
      "groupimg"
      "grouptxt"
      "groupsound";
  }

  .tabRow {
    min-width: 50px;
    grid-template-areas:
      "tab1"
      "tab2"
      "tab3"
      "tab4";
    border-bottom: none;
  }

  .quotebox {
    margin: 0px 10px;
  }
  svg {
    max-height: 100px;
    margin-left: 30%;
  }
}

/* Tablet size */
@media screen and (min-width: 814px) {
  .App {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header header header header"
      "cb cb cb cb "
      "tabs tabs tabs tabs"
      "media media media media";
    /*footer*/
  }

  .tabRow {
    display: grid;
    grid-template-areas: "tab1 tab2 tab3 tab4";
  }
  /* tabs */
  .tabRow > div {
    height: 100px;
    border-radius: 10px;
  }

  .check_box {
    display: grid;
    grid-template-areas: "groupimg grouptxt groupsound";
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }

  .imgBox {
    width: 100%;
    height: 50%;
  }

  svg {
    max-width: 500px;
    max-height: 100%;
    margin-left: 25%;
    /* center image is missing */
  }
}

/* Desktop*/
@media screen and (min-width: 1200px) {
  .App {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: minmax(100px, auto);
    grid-template-areas:
      "header header header header header header"
      "tabs tabs tabs tabs tabs tabs"
      "media media media media cb cb"
      "media media media media cb cb"
      "media media media media . .";
  }

  .check_box {
    grid-template-areas:
      "groupimg"
      "grouptxt"
      "groupsound";
    width: 250px;
    margin-right: 25px;
  }

  svg {
    max-width: 800px;
    max-height: 450px;
    /* center image is missing */
  }

  .imgBox {
    height: 50%;
  }
}
